
<div style="padding-left: 200px; width: 900px;height: 200px" >
  <h2 style="color: darkslategrey">Nombre des Réclamations/date</h2>
  <mat-grid-list cols="2" rowHeight="2:1" >
    <div style="display: block;height: 200px">
      <canvas baseChart style="height: 200px"
              [data]="pieChartData"
              [labels]="pieChartLabels"
              [chartType]="pieChartType"></canvas>
    </div>
  </mat-grid-list></div>

<div style="padding-left: 200px; width: 900px;padding-top: 300px;padding-bottom: 50px">

<mat-card class="form-card" >
  <h2>Nombre des Réclamations par une date donnée</h2>
     <h2>Choisir une date</h2>
     <mat-form-field class="fullWidth">
      <input matInput  name="dateRec" [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="dateRec"  ngModel required #n="ngModel">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker ></mat-datepicker>
    </mat-form-field>
    <div >
    <button (click)="countRecByDate()"  mat-raised-button color="accent">Ok</button>
    </div>

    <mat-form-field appearance="outline" class="fullWidth">
      <mat-label>Le nombre des réclamations est :</mat-label>
      <input matInput placeholder="Placeholder" >{{nbr}}
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>

</mat-card> </div>

