/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: linear-gradient(to bottom, rgba(46, 70, 82,0), rgba(46, 70, 82,1));color: aliceblue;

}

.fullWidth {
    width: 100%;
}

@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
@import  "~font-awesome/css/font-awesome.css";
